.page {
    width: 320px;
    background: #2A2C2F;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'inter', 'Arial', sans-serif;
}

@media screen and (min-width: 768px) {
    .page {
        width: 768px;
    } 
}

@media screen and (min-width: 1024px) {
    .page {
        width: 1024px;
    } 
}

@media screen and (min-width: 1280px) {
    .page {
        width: 1280px;
    } 
}