.header {    
    margin: 0;
    padding: 16px 16px 0px 16px;
    display: flex;
    justify-content:space-around     
}

@media screen and (min-width: 768px) {
    .header {
        padding: 28px 24px 0px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 28px 48px 0px 48px;
    }
}