.cover {
    margin: 0 auto;
    width: 100%;
    height: calc(200 / 320 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../images/cover/__background.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 1280px) {
    .cover {
        width: calc(100% - 96px);
    }
}