.cover__overlay {
    width: 100%;
    height: calc(200 / 320 * 100vw);
    background: rgba(42, 44, 47, .3);
    transition-duration: .3s;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, .8);
}
