.place {
    margin: 0;
    padding-bottom: 50px;
}

.place:nth-of-type(5n) {
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .place  {
        padding-bottom: 75px;
        display: grid;
        grid-template-columns: 2 1fr;
        grid-template-rows: 2 1fr;
        gap: 28px 48px;
        grid-template-areas:
        "header website"
        "photo text"
    }
}

@media screen and (min-width: 1024px) {
    .place  {
        padding-bottom: 80px;
        gap: 32px 48px;
    }
}

@media screen and (min-width: 1280px) {
    .place  {
        gap: 40px 48px;
    }
}